<button type="button" class="btnMenuCanvas" data-toggle="offcanvas" data-target="#apollo-top-menu">
  	<span class="fa fa-bars"></span>
</button>
<div id="apollo-top-menu" class="apollo-megamenu">
	<ul class="list-unstyled megamenu">
		{% for link in linklists[menuLinks].links %}
      		{% if linklists[link.handle] != empty %}
      			<li class="parent dropdown {% if link.active %}active{% endif %}">
                  	<a class="dropdown-toggle has-category" data-toggle="dropdown" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                        <span class="">{{ link.title }}</span><b class="caret"></b>
                    </a>
                  	<div class="dropdown-menu level1">
                      	<ul class="list-unstyled">
                          	{% for child_link in linklists[link.handle].links %}
                          		{% if linklists[child_link.handle] != empty %}
                          			<li class="parent dropdown-submenu {% if child_link.active %}active{% endif %}">
                                    	<a class="dropdown-toggle" data-toggle="dropdown" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                            <span class="">{{ child_link.title }}</span><b class="caret"></b>
                                        </a>
                                      	<div class="dropdown-menu level2">
                                          	<ul class="list-unstyled">
                                              	{% for child_link1 in linklists[child_link.handle].links %}
                                              		{% if linklists[child_link1.handle] != empty %}
                                              			<li class="parent dropdown-submenu {% if child_link1.active %}active{% endif %}">
															<a class="dropdown-toggle" data-toggle="dropdown" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                                <span class="">{{ child_link1.title }}</span><b class="caret"></b>
                                                            </a>
                                                          	<div class="dropdown-menu level3">
                                                              	<ul class="list-unstyled">
                                                                  	{% for child_link2 in linklists[child_link1.handle].links %}
                                                                        <li class="{% if child_link2.active %}active{% endif %}">
                                                                            <a class="" href="{{ child_link2.url }}" title="{{ child_link2.title }}">
                                                                              	<span class="">{{ child_link2.title }}</span>
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                              	</ul>
                                                          	</div>
                                              			</li>
                                              		{% else %}
                          								<li class="{% if child_link1.active %}active{% endif %}">
                                                            <a class="" href="{{ child_link1.url }}" title="{{ child_link1.title }}">
                                                              <span class="">{{ child_link1.title }}</span>
                                                            </a>
                                                		</li>
                          							{% endif %}
                                              	{% endfor %}
                                          	</ul>
                                      	</div>
                          			</li>
                          		{% else %}
                          			<li class="{% if child_link.active %}active{% endif %}">
                                      	<a class="" href="{{ child_link.url }}" title="{{ child_link.title }}">
                                          <span class="">{{ child_link.title }}</span>
                                        </a>
                            		</li>
                          		{% endif %}
                          	{% endfor %}
                      	</ul>
                  	</div>
      			</li>
      		{% else %}
      			<li class="{% if link.active %}active{% endif %}">
                  	<a class="" href="{{ link.url }}" title="{{ link.title }}" target="_self">
                    	<span class="">{{ link.title }}</span>
                  	</a>
      			</li>
      		{% endif %}
      	{% endfor %}
  	</ul>
</div>