{% unless icon_store %}
	{% assign icon_store = '' %}
{% endunless %}
{% unless title_store %}
	{% assign title_store = '' %}
{% endunless %}
{% unless des_store %}
	{% assign des_store = '' %}
{% endunless %}
{% unless btn_store %}
	{% assign btn_store = '' %}
{% endunless %}
{% unless btn_link_store %}
	{% assign btn_link_store = '' %}
{% endunless %}
{% unless img_bgstore %}
	{% assign img_bgstore = '' %}
{% endunless %}
<div class="servicecontact" style="background-image:url({{img_bgstore | asset_url }});">
  <div  class="servicecontact__block text-center">
    {% if icon_store != blank %}
    <i class="fa {{ icon_store }}"></i>
    {% endif %}
    {% if title_store != blank %}
    <h5 class="title_block">{{ title_store }}</h5>
    {% endif %}
    {% if des_store != blank %}
    <div class="servicecontact__block--des">{{ des_store }}</div>
    {% endif %}
    {% if btn_store != blank %}
    <a class="btn btn-outline-inverse " href="{{ btn_link_store }}">{{ btn_store }}</a>
    {% endif %}
  </div>
</div>