<section class="twoContainer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="boxApollo">
                    <h3 class="text_head_1">{{ settings.page2_title }}</h3>
                    <img class="section_icon_x" src="../assets/iconx.svg" alt="">
                    <div class="apolloDescription">
                      	<p class="swatch-desc">{{ settings.page2_description }}</p>
                        <p class="button-group">
                          {% comment %} <a href="{{ settings.page2_viewmore_link }}" class="btn btn-left btn-shopnow">{{ settings.page2_viewmore }}</a> {% endcomment %}
                          <a href="#AddToCart" class="btn btn-right btn-shopnow">{{ settings.page2_viewmore_2 }}</a>
                      	</p>
                        {{ pages[settings.page2_page].content }}  
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> 
<script>
    document.querySelector('.btn-shopnow').addEventListener('click', function() {
  window.scrollTo(0, 0);
});

</script>