<section class="fourContainer">
  	<div class="container">
      	<div class="row">
          	<div class="col-xs-12 col-sm-12">
              	<div class="boxApollo">
                  	<h3 class="apolloHeading">{{ settings.page4_title }}</h3>
                    <div class="apolloDescription">
                      <div class="row">
                        <div class="col-sm-3 col-xs-12">{{ "mutil_color1.png" | asset_url | img_tag: "First color" , "" }}</div>
                        <div class="col-sm-3 col-xs-12">{{ "mutil_color2.png" | asset_url | img_tag: "Second color" , "" }}</div>
                        <div class="col-sm-3 col-xs-12">{{ "mutil_color3.png" | asset_url | img_tag: "Thrid color","" }}</div>
                        <div class="col-sm-3 col-xs-12">{{ "mutil_color4.png" | asset_url | img_tag: "Four color","" }}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <p class="txt-discount">{{ settings.page4_description }}
                        </div>
                      </div>
                    </div>
              	</div>
          	</div>
      	</div>
  	</div>
</section>