<section class="sevenContainer">
  <div class="container">
    <div class="text_contat">
      <div class="title_section">
        Lorem ipsum dolor sit amet
      </div>
      <div class="apolloContact row contact_wrapper">
            {% form 'contact' %}
            {% if form.posted_successfully? %}
            <p class="alert alert-success">
              {{ 'contact.form.post_success' | t }}
            </p>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="col-xs-12 col-sm-6 ">
              <div class="form-group">
                {% assign name_attr = 'contact.form.name' | t | handle %}
                <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
                <input class="form-control grey" type="text" id="ContactFormName" name="contact[{{ name_attr }}]" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
                <input class="form-control grey" type="email" id="ContactFormEmail" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                {% assign name_attr = 'contact.form.phone' | t | handle %}
                <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
                <input class="form-control grey" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
            </div>
            {% comment %} <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                {% assign name_attr = 'contact.form.website' | t | handle %}
                <label for="ContactFormWebsite" class="label--hidden">{{ 'contact.form.website' | t }}</label>
                <input class="form-control grey" type="text" id="ContactFormWebsite" name="contact[{{ name_attr }}]" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
                <textarea class="form-control" rows="8" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
            </div> {% endcomment %}
            <div class="col-xs-12 col-sm-12">
              <button id="subscribe" class="button_mini pull-right btn btn-outline" type="submit">{{ 'contact.form.send' | t }}</button>
            </div>
            {% endform %}
          </div>
    </div>

    <div class="info_wrapper">
      <div class="info">
        <img src="../assets/image-center.pngiconpin.svg" alt="">
        <p>Galaxy Tower - 228b Baker Street -
          London - United Kingdom</p>
      </div>
      <div class="info">
        <img src="../assets/image-center.pngiconcontact.svg" alt="">
        <p>(+84). 123. 456. 789<br>
          (+84). 123. 456. 789</p>
      </div>
      <div class="info">
        <img src="../assets/image-center.pngiconemail.svg" alt="">
        <p>Nosso email info@centershop.com</p>
      </div>

    
    </div>
  </div>
</section>
