<section id="columns" class="columns-container page__404">
    <div class="container">
    	<div class="row">
    		<div id="center_column" class="center_column col-sm-12 col-md-12">
              	<div class="page-wrap">
                    <div class="page-404">
                        <h1>{{ 'general.404.title' | t }}</h1>
                      	<h2>{{ 'general.404.title_sub' | t }}</h2>
                        <p class="des_cription_404">{{ 'general.404.subtext_html' | t }}</p>
                        <div class="text-center btn_404">
                          <a href="{{ 'general.404.link_left' | t }}" class="btn btn-outline-inverse">{{ 'general.404.btn_left' | t }}</a>
                          <a href="{{ 'general.404.link_right' | t }}" class="btn btn-outline-inverse">{{ 'general.404.btn_right' | t }}</a>
                        </div>
                    </div>
                  	
                </div>
    		</div>
          	
		</div>
	</div>
</section>