<div id="header-main footer-cart-header">
    <div class="header-wrap">
      <a href="/" itemprop="url">
        <img class="logo-white" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
      </a>
    </div> 
</div>
<section id="columns" class="columns-container">
    <div class="container">
        <div class="row">
            <div id="center_column" class="center_column col-md-12">
                <div id="cart-page">
                    {% if cart.item_count > 0 %}
                        <form action="/cart" method="post" novalidate class="cart">
                            <h1 class="page-header">{{ 'cart.general.title' | t }}</h1>
                          	<div class="page-content">
                                <div class="cart_header_labels clearfix">
                                    <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                        <div class="cart_product first_item">
                                            {{ 'cart.label.product' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-4 col-md-4">
                                        <div class="cart_description item">
                                            {{ 'cart.label.description' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                        <div class="cart_price item">
                                            {{ 'cart.label.price' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                        <div class="cart_quantity item">
                                            {{ 'cart.label.quantity' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-2 col-md-2">
                                        <div class="cart_total item">
                                            {{ 'cart.label.total' | t }}
                                        </div>
                                    </div>
                                    <div class="label_item col-xs-12 col-sm-1 col-md-1">
                                        <div class="cart_delete last_item">
                                            {{ 'cart.label.remove' | t }}
                                        </div>
                                    </div>
                                </div>
                                {% for item in cart.items %}
                                    <div class="list_product_cart clearfix" data-id="{{ item.id }}">
                                        {% assign image_size = settings.product_cart_imagesize %}
                                        <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                            <div class="cpro_item_inner">
                                                <a href="">
                                                    <img class="img-responsive" src="{{ item | img_url: 'image_size' }}" alt="{{ item.title | escape }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-4 col-md-4">
                                            <div class="cpro_item_inner">
                                                <a href="">
                                                    {{ item.product.title }}
                                                </a>
                                                {% unless item.variant.title contains 'Default' %}
                                                    <small>{{ item.variant.title }}</small>
                                                {% endunless %}
                                                {% if settings.cart_vendor_enable %}
                                                    <p>{{ item.vendor }}</p>
                                                {% endif %}
                                                {% assign property_size = item.properties | size %}
                                              	{% if property_size > 0 %}
                                                    {% for p in item.properties %}
                                                        {% unless p.last == blank %}
                                                            {{ p.first }}:
                                                            {% if p.last contains '/uploads/' %}
                                                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                                            {% else %}
                                                                {{ p.last }}
                                                            {% endif %}
                                                            <br>
                                                        {% endunless %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                            <div class="cpro_item_inner">
                                                <span class="price product-price">{{ item.price | money }}</span>
                                            </div>
                                        </div>
                                        <div class="cpro_item text-center col-xs-12 col-sm-2 col-md-2">
                                            <div class="cpro_item_inner">
                                                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-2 col-md-2">
                                            <div class="cpro_item_inner">
                                                <span class="price product-price">{{ item.line_price | money }}</span>
                                            </div>
                                        </div>
                                        <div class="cpro_item col-xs-12 col-sm-1 col-md-1">
                                            <div class="cpro_item_inner">
                                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove" data-id="{{ item.id }}">
                                                   Remover
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="list_button_cart clearfix">
                                    
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                                        <input type="submit" name="update" class="btn  update-cart" value="{{ 'cart.general.update' | t }}">
                                        <input type="submit" name="checkout" class="btn btn-outline" value="{{ 'cart.general.checkout' | t }}">
                                        {% if additional_checkout_buttons %}
                                            <p>{{ content_for_additional_checkout_buttons }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                          	</div>
                        </form>
                      
                    {% else %}
                        <h2>{{ 'cart.general.title' | t }}</h2>
                        <p class="alert alert-warning cart-empty">{{ 'cart.general.empty' | t }}</p>
                        <p class="cart-empty-continue">{{ 'cart.general.continue_browsing_html' | t }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sevenContainer">
  <div class="container">
    <div class="text_contat">
      <div class="title_section">
        Lorem ipsum dolor sit amet
      </div>
      <div class="apolloContact row contact_wrapper">
            {% form 'contact' %}
            {% if form.posted_successfully? %}
            <p class="alert alert-success">
              {{ 'contact.form.post_success' | t }}
            </p>
            {% endif %}
            {{ form.errors | default_errors }}
            <div class="col-xs-12 col-sm-6 ">
              <div class="form-group">
                {% assign name_attr = 'contact.form.name' | t | handle %}
                <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
                <input class="form-control grey" type="text" id="ContactFormName" name="contact[{{ name_attr }}]" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
                <input class="form-control grey" type="email" id="ContactFormEmail" name="contact[email]" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                {% assign name_attr = 'contact.form.phone' | t | handle %}
                <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
                <input class="form-control grey" type="tel" id="ContactFormPhone" name="contact[{{ name_attr }}]" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
            </div>
            {% comment %} <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                {% assign name_attr = 'contact.form.website' | t | handle %}
                <label for="ContactFormWebsite" class="label--hidden">{{ 'contact.form.website' | t }}</label>
                <input class="form-control grey" type="text" id="ContactFormWebsite" name="contact[{{ name_attr }}]" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12">
              <div class="form-group">
                <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
                <textarea class="form-control" rows="8" id="ContactFormMessage" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
            </div> {% endcomment %}
            <div class="col-xs-12 col-sm-12">
              <button id="subscribe" class="button_mini pull-right btn btn-outline" type="submit">{{ 'contact.form.send' | t }}</button>
            </div>
            {% endform %}
          </div>
    </div>

    <div class="info_wrapper">
      <div class="info">
        <img src="/cdn/shop/t/6/assets/image-center.pngiconpin.svg" alt="">
        <p>Galaxy Tower - 228b Baker Street -
          London - United Kingdom</p>
      </div>
      <div class="info">
        <img src="/cdn/shop/t/6/assets/image-center.pngiconcontact.svg" alt="">
        <p>(+84). 123. 456. 789<br>
          (+84). 123. 456. 789</p>
      </div>
      <div class="info">
        <img src="/cdn/shop/t/6/assets/image-center.pngiconemail.svg" alt="">
        <p>Nosso email info@centershop.com</p>
      </div>

    
    </div>
  </div>
</section>

<section class="tenContainer">
    <div class="container">
      <div class="content_wrapper_1">
          <div class="logo-yoga"><img src="/cdn/shop/t/6/assets/image-center.pnglogo-color-1.svg" alt=""></div>
          <div class="socials">
              <a href="">
                  <img src="/cdn/shop/t/6/assets/image-center.pngface.svg" alt="">
                  
              </a>
              <a href="">
                  <img src="/cdn/shop/t/6/assets/image-center.pngtt.svg" alt="">
                
              </a>
              <a href="">
                  <img src="/cdn/shop/t/6/assets/image-center.pnginsta.svg" alt="">
              </a>
          </div>
          <div class="rights"><p>
              Todos os direitos reservados Elixir Yoga
          </p>
          <a href="" class="development">
              <img src="/cdn/shop/t/6/assets/image-center.pngdevelopment.png" alt="">
          </a>
      </div>
      </div>
      
    </div>
</section>